<#
from os.path import dirname
templatedir = dirname(indextree['source_file']) + '/templates/'
print include(templatedir + '/header.html')
#>

<% body %>

<#

for section, (section_title, section_desc) in thispage['sections'].iteritems():
    if section:
        section_title, section_desc = thispage['sections'][section]
        print '<h2>%s</h2>' % section_title
        if section_desc:
            print '%s' % section_desc

    print '<dl>'

    from util import url
    for page in thispage['pages']:
        if page['section'] == section:
            # Hack, cause r2w doesn't expose the build attribute
            link = url(page['target'])
            if link is None:
                print '<dt>%s</dt>' % page['link-title']
            else:
                print '<dt><a href="%s">%s</a></dt>' % \
                      (link, page['link-title'])
            print '<dd>%s</dd>' % page['page-description']

    print '</dl>'
#>

<% include(templatedir + '/footer.html') %>
